* {
  font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji", "monospace";
  font-size: 13px;
  border: none;
  padding: 0;
  background: rgba(46, 52, 64, 1);
  margin: 0;
}

window#waybar {
  background: rgba(46, 52, 64, 1);
  border-radius: 0px;
  color: gray;
  padding: 4px 8px;
  margin: 6px;
  border-radius: 0px;
}

#custom-menu,
#clock,
#network,
#pulseaudio,
#battery {
  background: rgba(70, 78, 94, 1);
  border-radius: 0px;
  padding: 4px 12px;
  margin: 0 4px;
  color: #eee;
}

#clock {
  font-weight: bold;
  background: rgba(70, 78, 94, 1);
}

#custom-menu {
  background: rgba(70, 78, 94, 1);
  color: #ffffff;
}

